log:
  level: debug
  format: console
  session_level: warn
bot:
  token: "INSERT_HERE"
  command_prefix: "!cs"
  time_zone: Asia/Seoul
api:
  port: 8080
  self_healthcheck_enabled: true
  self_healthcheck_period_minutes: 5
